@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #696969;
  }
}
@media (min-width: 96rem) {
    .container {
        max-width: 92rem !important;
    }
}
body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.primaryColor
{
  background-color: #0c50e0;
}
.secondaryColor
{
  background-color: #f1f3f7;
}
.headingColor
{
  color: #1f1f1f;
}
.subHeadingColor
{
  color: #636363;
}
.textColor
{
  color: #797979;
}
button
{
  cursor: pointer;
}